@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "beyno";
    src: url("./assets/fonts/BEYNO.otf");
}

.beyno-font {
    font-family: "beyno";
}

.shadowingtext-dark{
    text-shadow: 0 0 20px black;
}

.shadowingtext-light{
    text-shadow: 0 0 20px white;
}